.login-container{
    width: 600px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 5px solid grey;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    color: #2e2e5e
}

.input-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: grey;
}

input{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn{
    background: #ff2f92;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 12px;    
}