body{
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
    font-family: sans-serif;
}

.brand{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar{
    background-color: darkslateblue;
    padding: 40px 20px;
    font-family: sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.nav-list{
    list-style: none;
    display:flex;
    gap: 20px;
}

.nav-list a{
    text-decoration: none;
    color: lightgrey;
    font-weight: 500;
}

.dropdown{
    position : relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 45px;
    width: 200px;
    border-radius: 20px;
    left: 0;
    background: white;
    list-style: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
}

.dropdown-content li{
    border-bottom: 1px solid #ddd;
}
.dropdown-content li a{
    color: black;
}
.dropdown-content li:last-child{
    border-bottom: none;
}
.dropdown-content li a{
    padding: 8px 16px;  
    display: block
}

.dropdown a:hover{
    background-color: grey;
}

.show{
    display: block;
}

.nav-right{
    display:flex;
    align-items: center;
    gap: 10px;
}

.nav-right input{
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.nav-right button{
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: slateblue;
    color: green;
    border: 1px solid green;
    cursor: pointer;
    font-weight: 400;
}

.nav-right button:hover{
    background-color: #00c844;
    color: white;
}

/* body */
.main-container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background:linear-gradient(135deg, darkslateblue, slateblue);
    color: white;
}



.main-left h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    font-family: sans-serif;
}

/* .main-left p{

} */
.highlight{
    color: #FF2C90  ;
}

.btn-primary{
    padding: 12px 22px;
    border: none;
    border-radius: 8px; 
    background-color: #FF2C90;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: palevioletred;    
}

.btn-secondary{
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    background-color: #FF2C90;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: palevioletred;
}

.main-right{
    width: 450px;
    max-width: 100%;
}

.reveal-text{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: reveal 3s ease forwards;

}

@keyframes reveal{
    form{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* job details */
.job_details-dontainer{
    background: white;
    padding: 30px;
    border: 2px solid grey;
    border-radius: 8px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title{
    font-size: 28px;
    margin-bottom: 10px;
}

.company{
    font-size: 18px;
    color: gray;
}

.info{
    margin: 8px 0;
}

.skills span{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid skyblue;
    color: skyblue;
    border-radius: 4px;
    margin: 5px 5px 0 0;
    font-size: 13px;
    cursor: pointer;
}

.apply-btn{
    background-color: green;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;

}